# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\raphm\OneDrive\Área de Trabalho\SENAC EAD\Sem 03\Tri 02\PI\pisenac\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
